@import '../components/button.scss';

.process__container {
  color: white;
}

.profile {
  display: grid;
  grid-template-columns: repeat(2, 1fr) .8fr;
  justify-items: center;
  align-items: left;
  padding: 20px;
  border-bottom: 1px solid $secondary-color;
  img {
    border-radius: 50%;
  }
  button {
    width: 100%;
    height: 20px;
    background: $secondary-color;
    p {
      font-size: 14px;
      padding: 5px;
    }
  }
  button:hover {
    background: $main-dark;
  }
  h4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.profile__info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.leader {
  border-bottom: 1px solid $secondary-color;
}

.leader__name {
  width: 100%;
  background: $secondary-color;
  h3 {
    padding: 10px 30px;
    margin-bottom: 10px;

  }
}

.leader__profile {
  margin: 10px 20px;
  display: flex;
  width: 100px;
  align-items: center;
  flex-direction: column;
  img {
    border-radius: 50%;
    margin-bottom: 5px;
  }
}

.process__container-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid $secondary-color;
  margin-bottom: 10px;
}

@media only screen and (min-width: 375px) {
  .process__container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
}