@import '../global_var.scss';
.terms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
  color: $primary-color;
  background: white;
  font-size: 18px;
  padding: 0 30px;
  text-align: center;
}

.terms__logo {
  height: 80px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;
  margin-bottom: 5px;
}