@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import './global_var.scss';

// Propiedades y selectores deben ordenarse de la siguiente forma:
// Propiedades del modelo de caja (display, width, height, margin, etc)
// Posicionamiento (position, left, top, right, etc)
// Tipografía(text-transform, text-decoration)
// Decoración (background-image, color, etc)
// Variables
// Mixins
// .button {
//   display: block;
//   width: 220px;
//   height: 40px;
//   position: relative;
//   text-transform: uppercase;
//   background-color: #333333;
//   font-weight: $semibold;
//   @include font-size (13px);
// }

body {
  font-family: 'Lato', sans-serif;
  background: $primary-color;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}
